<mat-checkbox>Check me!</mat-checkbox><br><br>
<button mat-raised-button>Click me!</button>

<hr>
<i class="material-icons">
  accessibility_new
</i>
<i class="material-icons md-18">
  accessibility_new
</i>
<i class="material-icons md-24">
  accessibility_new
</i>
<i class="material-icons md-36">
  accessibility_new
</i>
<i class="material-icons md-48">
  accessibility_new
</i>

<hr>
<i class="material-icons">
  tag_faces
</i>
<i class="material-icons md-dark">
  tag_faces
</i>
<i class="material-icons md-dark md-inactive">
  tag_faces
</i>
<div class="dark-background">
  <i class="material-icons md-light">
    tag_faces
  </i>
  <i class="material-icons md-light md-inactive">
    tag_faces
  </i>
</div>
<i class="material-icons orange600">
  tag_faces
</i>

<hr>
<!-- start/center/end/space-around/space-between/space-evenly -->
<div class="my-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="my-box">20</div>
  <div class="my-box">10</div>
  <div class="my-box">30</div>
  <div class="my-box">---</div>
</div>

<hr>
<div class="my-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="my-box" fxFlex="20">20</div>
  <div class="my-box" fxFlex="10">10</div>
  <div class="my-box" fxFlex="30">30</div>
  <div class="my-box" fxFlex>---</div>
</div>
